/* CSS Document */
.wrapper {
  	width:  100%;
  	height:  100%;
  	background-color: #fff;
}

.left-sidebar-wrapper {
  	width: 240px;
  	position: fixed;
  	left: 0;
  	top: 0;
  	bottom: 0;
  	background-color: #000;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main-wrapper {
	top: -48px;
	margin-left: 240px;
	width: calc(100% - 240px);
	height: 100vh;
	background-color: #999;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.map-header-wrapper {
	position: relative;
	padding: 12px;
	background-color: #222;
	-webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#menu-left-sidebar {
	width: 24px;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	font-style: normal;
}

.sidebar-header {
	height: 48px;
    padding: 12px;
    border-bottom: 1px solid #999;
	text-align: center;
}

.sidebar-title {
	margin: 0;
    text-transform: capitalize;
    font-size: 20px;
    color: #bbb;
    font-style: normal;
    line-height: 24px;
}

.sidebar-main {
	padding: 12px;
}

.sidebar-search {
	padding-bottom: 12px;
	border-bottom: 1px solid #333;
}

#search-box {
	border-radius: 0;
}

#search-btn {
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	color: #000;
	width: 34px;
	background-color: #fff;
  cursor: pointer;;
}

.location-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.location-item {
	text-transform: capitalize;
	color: #bbb;
	font-size: 16px;
	font-style:normal;
	height: auto;
	padding: 12px;
	padding-left: 12px;
	border-bottom: 1px solid #333;
	line-height: 24px;
	cursor: pointer;
}


#menu-left-sidebar:hover {
	color: #ccc;
}


#map-main-wrapper {
	top: 0;
	width: 100%;
	position: relative;
	height: 100%;
	background-color: #bbb;
}

#map {
	width: 100%;
	height: 100%;
}

#pano {
  width: 200px;
  height: 200px;
}

/* wikipedia view */
#wiki-btn {
  position: fixed;
  background-color: #f00;
  height: 48px;
  width: 48px;
  top: 48px;
  right: 180px;
  opacity: .6;
  z-index: 9999;
  color: #fff;
  font-size: 18px;
  line-height:  46px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#wiki-btn:hover {
  background-color: #ff5722;
}

.right-sidebar-wrapper {
  padding: 12px;
  position:  fixed;
  height: auto;
  width:  180px;
  background-color: #000;
  right: 0;
  top: 48px;
  z-index:  9999;
  opacity: .6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wiki-title {
  margin: 0;
  color: #fff;
  font-weight: normal;
}

hr {
  margin: 12px 0;
}

.right-sidebar-wrapper.collapsed {
  right: -180px;
}

#wiki-btn.collapsed {
  right: 0;
}

#wiki-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wiki-item {
  padding:  12px;
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px solid #888;
}

.wiki-link {
  color: #999;
  text-decoration: none !important;
  display: inline-block;
  width: 132px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.wiki-link:hover, .wiki-link:focus {
  color: #999;
}

@media screen and (max-width:720px){
.left-sidebar-wrapper {
	left: -240px;
}

.main-wrapper {
	margin-left: 0;
	width: 100%;
	top: 0;
}

#map-main-wrapper {
	height: calc(100% - 48px);
}

.left-sidebar-wrapper.collapsed {
  left: 0;
}

.main-wrapper.collapsed {
  margin-left: 240px;
  width: calc(100% - 240px);
}

}
